html {
	transition: background-color 2s;
	min-height: 100%;
}

html.loading {
	background: #333 url('https://code.jquery.com/mobile/1.3.1/images/ajax-loader.gif') no-repeat 50% 50%;
	transition: background-color 0;
}
html.loading body {
	opacity: 0;
	transition: opacity 0;
}

body {
	width: 100%;
	min-height: 100%;
	margin: auto;
	/*noinspection CssUnknownTarget*/
	background: url(../img/boat_background.jpg) no-repeat center center fixed; /* https://css-tricks.com/perfect-full-page-background-image/*/
	background-size: cover;
	padding-top: 60px;
	padding-bottom: 24px;
	transition: opacity 2s ease-in;
}


/* Media Query Rule for smaller screen but not phone*/
@media (min-width: 770px) and (max-width: 920px){
	body{
		padding-top: 110px;
		padding-bottom: 24px;
	}
}

@media (max-width: 769px) {
	body {
		padding-top: 55px;
	}
}

legend {
	margin-top: 24px;
}
#mfish_location_message{
	font-size: .7em;
	text-align: center;
}
.admin-body {
	min-height: 500px;
	padding-bottom: 20px;
}

.mfisheries_content {
	background: white;
	padding-bottom: 20px;
}

#app{
	width: 95%;
	margin: 0 auto;
}
@media (max-width: 769px) {
	#app{
		width: 100%;
		margin: auto;
	}
}

.lek-body {
	height: 550px;
	overflow: auto;
}

.top_bar {
	background: #037cb4;
	border-color: #1b61d6;
	box-shadow: 1px 5px 8px 0 rgba(0,0,0,0.2);
}

#adv-opt {
	cursor: pointer;
	color: blue;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
	color: white;
	font-weight: bold;
}

.navbar-brand > img {
	height: 30px;
	width: auto;
}

.media-img-class {
	width: 320px;

}

.capFirstLetter {
	text-transform: capitalize;
}

/*Attempting to change bootstrap default hover style*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: lightslategrey;
	color: aliceblue;
}

.inner_container {
	margin: auto;
	width: 100%;
	height: inherit;
	min-height: 100%;
}

.admin-menu-dropdown-content {
	display: none;
	position: absolute;
	background-color: #037cb4;
	min-width: 225px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.admin-menu-dropdown-content > li > a {
	color: white;
	font-weight: bold;
	padding: 15px 16px;
	text-decoration: none;
	display: block;
}

.admin-menu-dropdown-content > li.active > a{
	color: #555;
	background-color: #e7e7e7;
}

@media (max-width: 767px){
	.admin-menu-dropdown-content > li > a{
		color: white !important;
	}
}

.menu_icon{
	width: 40px;
	height: 40px;
	float: left;
	margin-top: 4px;
	margin-right: 5px;
}

.fewer_menu_icon {
	width: 40px;
	height: 40px;
}

.admin-has-submenu > a:after {
	margin-left: 5px;
	content: '\25BC';
}

.admin-has-submenu li {
	list-style-type: none;
	margin-left: -35px;
}

/* Change color of dropdown links on hover */
.admin-menu-dropdown-content a:hover {
	background-color: lightslategrey;
	color: aliceblue;
}

/* Show the dropdown menu on hover */
.admin-has-submenu:hover .admin-menu-dropdown-content {
	display: block;
}

#lek-filter {
	margin-bottom: 16px;
}

#lek-filter label {
	font-weight: normal;
}

.form-group {
	margin-right: 16px;
}

.map_canvas {
	min-height: 860px;
	height: 100%;
}

@media (min-height: 680px) {
	/*when the screen height is 680px*/
	.map_canvas {
		min-height: 700px;
		height: 100%;
	}

	#sidebar {
		min-height: 700px;
		height: 100%;
	}
}

/*Map styling*/
@media print {
	html, body {
		height: auto;
	}
}

.map_canvas img {
	max-width: none;
	max-height: none;
}

.map_canvas label {
	width: auto;
	display: inline;
}

.fc-toolbar > button.fc-button {
	display: block !important;
}

.img-class {
	margin: 10px;
}

.userid-hidder {
	display: none;
}

.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}

.timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
}

.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #eeeeee;
	left: 50%;
	margin-left: -1.5px;
}

.timeline > li {
	margin-bottom: 20px;
	position: relative;
}

.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}

.timeline > li:after {
	clear: both;
}

.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}

.timeline > li:after {
	clear: both;
}

.timeline > li > .timeline-panel {
	width: 46%;
	float: left;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	padding: 20px;
	position: relative;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
	position: absolute;
	top: 26px;
	right: -15px;
	display: inline-block;
	border: 15px solid transparent;
	border-right: 0 #ccc;
	border-left-color: #ccc;
	content: " ";
}

.timeline > li > .timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #fff;
	border-right: 0 solid #fff;
	border-bottom: 14px solid transparent;
	content: " ";
}

.timeline > li > .timeline-badge {
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -25px;
	background-color: #999999;
	z-index: 100;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
	float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}

.timeline-badge.primary {
	background-color: #2e6da4 !important;
}

.timeline-badge.success {
	background-color: #3f903f !important;
}

.timeline-badge.warning {
	background-color: #f0ad4e !important;
}

.timeline-badge.danger {
	background-color: #d9534f !important;
}

.timeline-badge.info {
	background-color: #5bc0de !important;
}

.timeline-title {
	margin-top: 0;
	color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
	margin-bottom: 0;
}

.timeline-body > p + p {
	margin-top: 5px;
}

/*Add CSS to top menu to hide before login*/
#main_menu {
	display: none;
}

.img-def{
	max-width: 30%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#cirp {
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	/*background: white;*/
	padding: 10px 5px;
}

#cirp img{
	max-width: 400px;
}

.btn-icon {
	width: 35px;
	margin-bottom: 2px;
}

/*Add css to pretify the login form*/
.card {
	background-color: #F7F7F7;
	padding: 20px 25px 30px;
	margin: 50px auto 25px;
	/* shadows and rounded borders */
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.card-container.card {
	max-width: 350px;
	padding: 40px 40px;
}

.card-image {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
}

#new-alert h3 {
	padding: 10px;
	font-size: 1.5em;
	font-weight: bold;
	border-bottom: 2px solid #eee;
}

#new-alert h2, .page_heading {
	background: #037cb4;
	padding: 10px;
	color: white;
	box-shadow: 1px 5px 8px 0 rgba(0,0,0,0.2);
	margin-top: 5px;
}

.page_heading_icon{
	width: 40px;
	height: 40px;
}

#coords {
	margin-left: 5px;
	font-size: 0.8em;
	float: left;
	color: White;
}

#radius {
	width: 180px;
	height: 20px;
	float: right;
	font-size: 0.8em;
	text-align: right;
	margin-right: 5px;
	color: White;
}

#map_panel {
	background-color: SteelBlue;
}

.largemap {
	width: 100%;
	height: 380px;
}

#map {
	cursor: crosshair;
}

#map_panel, #mode_panel, #review_div {
	margin: 0 15px;
}

#mode_panel {
	border: 1px solid #eee;
	margin-top: 8px;
	padding: 8px;
	border-radius: 3px;
}

input[type=radio] {
	cursor: pointer;
}

input[type=button] {
	cursor: pointer;
}

#review_div {
	font-size: 0.8em;
	height: 300px;
	background-color: #eee;
	overflow: auto;
}

.form_row_div {
	margin: 0 15px 15px 15px;
}

.create-new-template {
	padding: 4px 0;
}

.divider {
	width: 100%;
	border-top: 1px solid #ddd;
	margin: 0 0 15px 0;
}

div.ui-input-text {
	max-width: 490px;
	padding: 0 5px;
}

/*#textarea-description, #textarea-instruction, #textarea-areaDesc {*/
	/*max-width: 500px;*/
	/*min-height: 3em;*/
/*}*/

.hidden {
	display: none;
}

#release_div {
	margin-top: 16px;
	margin-bottom: 16px;
}

.required {
	color: red;
	font-weight: bold;
}

#form_error {
	color: red;
	background: pink;
	width: 80%;
	font-size: 1.2em;
	padding: 8px;
	border-radius: 3px;
	border: 1px solid red;
	margin-bottom: 16px;
}

#capForm {
	padding: 16px;
}

#capForm label {
	font-weight: normal;
}

#capForm input.ng-invalid.ng-touched {
	background-color: pink;
	border-radius: 3px;
	border: 1px solid red;
}

.cred-field{
	width: 20% !important;
	display: inline !important;
}

#capForm input[type=text], #capForm input[type=password], #capForm select{
	margin-bottom: 6px !important;
}

#empty {
	background: #eee;
	padding: 16px;
	font-size: 1.5em;
	color: #777;
}

#select-language {
	width: 200px !important;
	float: right;
}

.field_label {
	font-size: 1.2em;
	font-weight: bold !important;
	width: 20%;
}

#new .field_label {
	margin-bottom: 16px;
}

.fewer_alert_listing {
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .05);
	padding: 0;
}

#current {
	padding: 0 !important;
}

.menu_username {
	color: whitesmoke;
}

/* Contact profile image for emergency contact module*/
.contact_profile_img {
	width: 100px;
}

.layout_row {
	margin-top: 20px;
}

.layout_row .control-label {
	text-align: right;
}

#mFisheries_header .navbar-brand > img {
	display: inline;
}


/****   Styles for Weather Report     ****/

/* General rules for our custom Panel */
.weather-report-panel{
	box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.25);
}
.weather-report-panel .panel-heading{
	color: white;
	padding: 2px 5px;
}
.weather-report-panel .panel-body{
	padding: 2px 5px;
}
.weather-report-panel .panel-default h3{
	color: black;
}

.weather-report-panel .weather-icon{
	width:100%;
	max-width: 150px;
}
.weather-report-panel .panel-default{
	box-shadow: 1px 2px 8px 0 rgba(0,0,0,0.2);
}
.weather-report-panel .panel-default h3{
	font-size: 1em;
}

.weather-report-panel .table>tbody>tr>td{
	vertical-align: middle;
	padding: 6px;
}

#panel-forecast .col-sm-6{
	padding-right: 4px;
	padding-left: 4px;
	margin-bottom: -10px;
}

.weather-report-panel .mini-weather-icon{
	width:40px;
	height:40px;
}



.panel-green {
  border-color: #5cb85c;
}
.panel-green > .panel-heading {
  background-color: #5cb85c;
}

.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #3d8b3d;
}

.panel-neutral {
  border-color:#b39ddb;
}
.panel-neutral > .panel-heading {
  border-color: #b39ddb;
  color: white;
  background-color: #b39ddb;
}
.panel-neutral > a {
  color: #d9534f;
}
.panel-neutral > a:hover {
  color: #b52b27;
}

.panel-red {
	border-color: #d9534f;
  }
  .panel-red > .panel-heading {
	border-color: #d9534f;
	color: white;
	background-color: #d9534f;
  }
  .panel-red > a {
	color: #d9534f;
  }
  .panel-red > a:hover {
	color: #b52b27;
  }
  


.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}



.wrap{
	margin: 4px 8px; /* 5px top/bottom 10px left/right */
	/*font-size: 20px;*/
}

.adjust{
margin-left:15%;
}

.datefor{
/*font-size: 1.4em;*/
}

.half-rule {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*.panel-forecast > .panel-footer {*/
	/*border-color: #322F31;*/
	/*color: white;*/
	/*background-color: #322F31;*/
  /*}*/


.panel-forecast{
	/*padding: 2px 8px;*/
}



.pad{
	padding: 5px;
	position: relative;
	/* margin: 0 !important; */
}

/**
Rule for all listings
 */

.no_content{
	text-align: center;
}

/**
	* Rules for Public Damage Report Listing
 */
#dmContent{
	width: 50%;
	margin: 0 auto;
}
.contentlist .card .card-img-top{
	width: 100%;
}
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px){
	#dmContent{
		width: 100%;
	}
}

/**
Rules for Emergency Contact Report Listing
 */
#emgContactContent{
	width: 90%;
	margin: 0 auto;
}
#emgContactContent .card .card-img-top { text-align: center; }
#emgContactContent .card .card-img-top img{
	max-width: 250px;
}


/**
Rules for FEWER specific distinctions
 */

.emg-heading{
	background: #D61C1C;
	padding: 10px;
	color: white;
	box-shadow: 1px 5px 8px 0 rgba(0,0,0,0.2);
	margin-top: 5px;
}

.warn-heading{
	background: #ffcc01;
	padding: 10px;
	color: white;
	box-shadow: 1px 5px 8px 0 rgba(0,0,0,0.2);
	margin-top: 5px;
}

.fewer_icon{
	width: 100%;
}

.alpha-pagi-container{
	display: flex;
	justify-content:center;
}

.emg-card{
	display: block;
	float: left;
	padding: 5px 25px;
	margin: 5px auto 5px;
}


#dashboard-tbl{
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

#dashboard-tbl th{
	text-align: center;
}

#dashboard-tbl td{
	padding: 20px;
}

#dashboard-tbl img, #dashboard-list img{
	width: 150px;
	height: 150px;
}

.require_indi{
	color: red;
	float:right;
	vertical-align: super;
}

.required_separator{
	text-align: center;
}

.bottom-bar{
	width:100%;
	height:45px;
	padding: 5px 4px;
	background:black;
	color:white;
	font-size: 1.5em;
	position:fixed;    /*Here's what sticks it*/
	bottom:0;          /*to the bottom of the window*/
	left:0;            /*and to the left of the window.*/
}

#bottomMenu{
	display: none;
}

#bottomCtrlOption .btn{
	text-transform: uppercase;
}
#bottomCtrlText{
	text-align: right;
	padding-top: 3px;
}

#dashboard-tbl th{
	text-transform: uppercase;
}
.dashboard_lbl{
	text-align: center;
	padding: 5px;
	margin-top: 5px;
	font-weight: bold;
}

#fewer_banner_sec{
	text-align: center;
}

#fewer_banner_sec img{
	width: 50%;
}

.proc-card{
	height: 170px;
}

.map_select_loc{
	width: 100%;
	height: 200px
}